* {
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
}

input {
    display: none;
}

.slider-container {   
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: 20px solid black; 
    border-radius: 20px;
    overflow: hidden;
    width: 50%;
    height: 80vh;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 80% 20%;
    grid-template-areas: 'slider slider'
                         'description navigation';
}

.slider-container__slides { 
    position: relative;   
    grid-area: slider;
    width: 100%;    
    display: flex;
    overflow: hidden;    
}

.slide {
    min-width: 100%;
    transition: all 0.15s ease;  
    background-color: black;  
}


#slide1 {
    background-image: url(assets/images/mem1.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#slide2 {
    background-image: url(assets/images/mem2.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#slide3 {
    background-image: url(assets/images/mem3.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#slide4 {
    background-image: url(assets/images/mem4.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#slide-one:checked ~ .slider-container__slides #slide1 {
    margin-left: 0%;
}

#slide-one:checked ~ .slider-container__descriptions #desc1 {
    margin-left: 0%;
}

#slide-one:checked ~ .slider-container__nav label.slide1 span {
    background-color: rosybrown;
}

#slide-two:checked ~ .slider-container__slides #slide2 {
    margin-left: -100%;
}

#slide-two:checked ~ .slider-container__descriptions #desc2 {
    margin-left: -100%;
}

#slide-two:checked ~ .slider-container__nav label.slide2 span {
    background-color: rosybrown;
}

#slide-three:checked ~ .slider-container__slides #slide3 {
    margin-left: -200%;
}

#slide-three:checked ~ .slider-container__descriptions #desc3 {
    margin-left: -200%;
}

#slide-three:checked ~ .slider-container__nav label.slide3 span {
    background-color: rosybrown;
}

#slide-four:checked ~ .slider-container__slides #slide4 {
    margin-left: -300%;
}

#slide-four:checked ~ .slider-container__descriptions #desc4 {
    margin-left: -300%;
}

#slide-four:checked ~ .slider-container__nav label.slide4 span {
    background-color: rosybrown;
}


.slider-container__nav {
    grid-area: navigation;
    display: flex;
    background-color: black;
    gap: 5px;
    padding-top: 25px;
}

.slider-container__nav label {
    background-color: black;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-container__nav label:hover span {
    border: 3px solid rgb(255, 219, 219);
}

.slider-container__nav label:active span {
    border: 6px solid rgb(255, 219, 219);
}

.slider-container__nav label span {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid rosybrown;
}

.slider-container__descriptions {
    padding-top: 20px;
    grid-area: description;
    display: flex;
    overflow-x: hidden;
    background-color: black;
}

.slider-container__descriptions p {
    min-width: 100%;
    color: aliceblue;  
    background-color: black;  
    transition: all 0.15s ease;
    padding-left: 30px;
}

